@model DrutTesting.Models.clsChart;

<body>
    <input type="hidden" asp-for="data" />
    <h4>Chart</h4>
    <div id="3dcolumnchartdiv" style="height : 600px;"></div>
    
</body>

<script src="~/js/RPACharts.js"></script>

<script src="~/js/AmCharts/core.js"></script>
<script src="~/js/AmCharts/charts.js"></script>
<script src="~/js/AmCharts/sunburst.js"></script>
<script src="~/js/AmCharts/animated.js"></script>

<script>

    var data = document.getElementById("data").value;

    Display3DColumnChartNew(JSON.parse(data), "3dcolumnchartdiv");

</script>